.bordered {
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color);
}

.staved {
    background-image: repeating-linear-gradient(
            0deg,
            var(--background-color) 0% 15.4%,
            var(--border-color) 15.4% 16.6%
    );
}

.fixed {
    position: fixed;
    z-index: 1;
}

.centralized {
    display: flex;
    align-items: center;
    justify-content: center;
}

.absoluted {
    position: absolute;
    left: 50%;
    top: 50%;
    /*
    CSS Vendor Prefix
    -webkit- Chrome, iOS, Safari
    -moz- Firefox
    -ms- Microsoft
    -o- Opera
    */
    transform: translate(-50%, -50%);
}

html {
    background-color: var(--background-color);

    color: var(--border-color);

    --opacity: 25%;

    --border-width: 1px;

    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Track */
::-webkit-scrollbar {
    background: var(--background-color);
    width: calc(var(--border-width) * 2);
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    filter: opacity(var(--opacity));
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}



header {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--background-color);
}

.heading {
    flex-basis: 12.5%;
}

.logo {
    margin-right: 0;
}

.text {
    width: auto;
    margin-left: 0;
    text-align: start;
}

.player {
    display: flex;
    flex-basis: 75%;
}

.player label {
    height: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 10%;
    position: relative;
}

.controls > :nth-child(1) {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

.controls > :nth-child(2) {
    position: absolute;
    height: 50%;
    top: 0;
}

.controls > :nth-child(3) {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.controls > :nth-child(4) {
    position: absolute;
    height: 50%;
    top: 50%;
}

.audio {
    flex-basis: 80%;
}

.audio label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio .progress {
    height: 100%;
    width: 0;
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.volume {
    flex-basis: 10%;
}

.volume label {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.volume label * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.volume label .icon {
    align-self: center;
    width: fit-content;
}

.volume .progress {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.slider {
    display: flex;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    height: 100%;
}

.bar {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.progress {
    width: 100%;
    background-color: var(--border-color);
    filter: opacity(var(--opacity));
}

input[type=range] {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 60px;
}

input[type=range]::-moz-range-track {
    height: 60px;
}

input[type=range]::-ms-track {
    height: 60px;
}

.volume input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
}

.timer {
    flex-basis: 12.5%;
}



.side {
    width: 5%;
    top: 50%;
}

.left {
    left: 2.5%;
}

.right {
    right: 2.5%;
}

.left svg, .right svg {
    stroke-width: 3%;
}



table {
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 75%;
    border-collapse: collapse;
    overflow: hidden;
}

caption {
    margin-bottom: 2%;
}

tbody {
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
}

table label {
    display: flex;
}

tr {
    height: 6.72vh; /*(100vh - 12vh(bottom) - 12vh(top) - 2vh(gap)) / 11(head+rows) = 6.72*/
    display: flex;
}

th, td {
    display: flex;
    width: 100%;
}

input {
    width: 100%;
}

table .icon {
    height: auto;
}

th {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

tr > :not(:first-child) {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--border-color);
}

tr > :not(:last-child) {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--border-color);
}

td {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

tr {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

tbody tr:last-child {
    border-bottom-width: calc(var(--border-width) * 2);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}


th {
    border-top-width: calc(var(--border-width) * 2);
    border-top-style: solid;
    border-top-color: var(--background-color);
}

tr > :first-child {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);
}

tr > :last-child {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

thead {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

tbody {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

.signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: none;
    border: none;
    color: var(--border-color);
}

input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}



footer {
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--background-color);
}

footer > * {
    flex-basis: 100%;
}

.copyright {
    display: flex;
    flex-direction: column;
}

.about .icon {
    height: 75%;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: inherit;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner circle {
    /*stroke-width reflects the width relative to the circle line out and in*/
    stroke-width: 2%;
    /*radius 50% - completely inscribed, to compensate for the stroke width: r = 50% - (stroke-width / 2)*/
    r: 49%;
}

.spinner circle:first-child {
    stroke-dasharray: 0.855, 306.945; /*1° - 0.855*/
    stroke-dashoffset: 76.95;
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner :nth-child(2) {
    stroke-dasharray: 307.8, 0;
    filter: opacity(var(--opacity));
}

.spinner text {
    text-anchor: middle;
    dominant-baseline: middle;
    stroke-width: var(--border-width);
}

.icon {
    height: 100%;
}

svg {
    fill: var(--background-color);
    stroke: var(--border-color);
    height: 100%;
}

#dz-root {
    display: none;
}

@media (max-width: 480px) {
    header {
        display: grid;
        grid-template-areas:
            "heading timer"
            "player player";
        grid-template-columns: 50% 50%;
    }

    .heading {
        grid-area: heading;
    }

    .timer {
        grid-area: timer;
    }

    .player {
        grid-area: player;
    }

    caption {
        width: 100%;
    }

    thead, tbody {
        width: 80%;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 14px;
        /*background-color: red;*/
    }

    .spinner {
        width: 25%;
    }

    .logo {
        width: 10%;
    }

    .logo svg {
        stroke-width: 4%;
    }

    .clef svg {
        stroke-width: 3%;
    }

    .icon svg {
        stroke-width: 5%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    * {
        /*background-color: orange;*/
    }

    .spinner {
        width: 20%;
    }

    .logo {
        width: 20%;
    }

    .logo svg {
        stroke-width: 3.5%;
    }

    .clef svg {
        stroke-width: 3%;
    }

    .icon svg {
        stroke-width: 4%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    * {
        /*background-color: yellow;*/
    }

    .spinner {
        width: 15%;
    }

    .logo {
        width: 22.5%;
    }

    .logo svg {
        stroke-width: 3%;
    }

    .clef svg {
        stroke-width: 3%;
    }

    .icon svg {
        stroke-width: 3.5%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    * {
        /*background-color: green;*/
    }

    .spinner {
        width: 10%;
    }

    .logo {
        width: 25%;
    }

    .logo svg {
        stroke-width: 2.5%;
    }

    .side {
        width: 3%;
    }

    .left {
        left: 4%;
    }

    .right {
        right: 4%;
    }

    .clef svg {
        stroke-width: 2.5%;
    }

    .icon svg {
        stroke-width: 3.5%;
    }
}

@media (min-width: 1200px) {
    * {
        /*background-color: blue;*/
    }

    .spinner {
        width: 10%;
    }

    .logo {
        width: 27.5%;
    }

    .logo svg {
        stroke-width: 2%;
    }

    .side {
        width: 3%;
    }

    .left {
        left: 4%;
    }

    .right {
        right: 4%;
    }

    .clef svg {
        stroke-width: 2.5%;
    }

    .icon svg {
        stroke-width: 3.5%;
    }
}