* {
    text-align: center; /*horizontal center*/
    line-height: normal; /*как-то двигает текст*/
    vertical-align: middle;

    margin: 0 auto; /*make full screen*/
    padding: 0; /*make full screen*/

    overflow: hidden;

    width: 100%;
}

.spinner {
    border-radius: 50%;
    border-width: calc(var(--border-width));
    border-style: solid;
    border-color: var(--other-color);
}

.absoluted {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.spinner circle {
    stroke-dasharray: 0.855, 306.945; /*1° - 0.855*/
    stroke-dashoffset: 76.95;
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner text {
    text-anchor: middle;
    dominant-baseline: middle;
    stroke-width: 1px;
}

.bordered {
    border: calc(var(--border-width)) solid var(--border-color);
}

.staved {
    background-image: repeating-linear-gradient(
            0deg,
            var(--background-color) 0% 15.4%,
            var(--border-color) 15.4% 16.6%
    );
}

.fixed {
    position: fixed;
    z-index: 1;
}

.centralized {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    --background-color: white;
    background-color: var(--background-color);

    --border-color: black;
    color: var(--border-color);

    --other-color: rgba(0, 0, 0, 0.5);

    --border-width: 1px;

    height: 100%;
}

body {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}

/* Track */
::-webkit-scrollbar {
    background: var(--background-color);
    width: calc(var(--border-width) * 2);
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--other-color);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}

header {
    display: flex;
    min-height: 10%;
    /*max-height: 10%;*/
    background-color: var(--background-color);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 12.5%;
}

.logo {
    margin-right: 0;
}

.text {
    width: auto;
    margin-left: 0;
    text-align: start;
}

.player {
    display: flex;
    flex-basis: 75%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 10%;
    position: relative;
}

.controls label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.controls :nth-child(2) {
    position: absolute;
    height: 50%;
    top: 0;
}

.controls :nth-child(4) {
    position: absolute;
    height: 50%;
    bottom: 0;
}

.controls :first-child {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

.controls :last-child {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.audio {
    flex-basis: 80%;
}

.audio label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.audio .progress {
    width: 0;
    margin-left: 0;
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.volume {
    flex-basis: 10%;
}

.volume label {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.volume .progress {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.slider {
    display: flex;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    height: 100%;
}

.bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.progress {
    height: 100%;
    background-color: var(--other-color);
}

input[type=range] {
    position: fixed;
    opacity: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 60px;
}

input[type=range]::-moz-range-track {
    height: 60px;
}

input[type=range]::-ms-track {
    height: 60px;
}

.volume input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    height: 100%;
}

.timer {
    flex-basis: 12.5%;
}

.side {
    width: 5%;
    top: 50%;
}

.left {
    left: 2.5%;
}

table {
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(100vw - 100%);
}

tr {
    display: flex;
}

th, td {
    display: flex;
    justify-content: center;
    align-items: center;
}

table > * {
    width: 77.5%;
}

caption {
    height: 15.75%;
}

thead {
    height: 5.485%;
}

thead tr {
    height: 100%;
}

tbody {
    height: 56.25%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
}

tbody tr {
    height: 9.75%;
}

td * {
    height: 100%;
}

td label {
    display: flex;
    width: 15%;
}

th {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

tr > :not(:first-child) {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--border-color);
}

tr > :not(:last-child) {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--border-color);
}

td {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

tr {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

tbody tr:last-child {
    border-bottom-width: calc(var(--border-width) * 2);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}


th {
    border-top-width: calc(var(--border-width) * 2);
    border-top-style: solid;
    border-top-color: var(--background-color);
}

tr > :first-child {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);
}

tr > :last-child {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

thead {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

tbody {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}


.signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: none;
    border: none;
}

input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}

.right {
    right: 2.5%;
}

footer {
    display: flex;
    bottom: 0;
    min-height: 10%;
    max-height: 10%;
    background-color: var(--background-color);
}

.copyright {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    height: 100%;
    width: 100%;
}

.about {
    /*height: 100%;*/
}

.clef {
    width: 2.5%;
}

.contacts {
    /*height: 100%;*/
}

svg {
    fill: var(--background-color);
    stroke: var(--border-color);
}

rect {
    width: 95%;
}

@media (max-device-width: 480px) {
    * {
        /*font-size: 36px;*/
    }

    header {
        display: grid;
        grid-template-areas:
            "heading timer"
            "player player";
        grid-template-columns: 50% 50%;
    }

    .heading {
        grid-area: heading;
    }

    .logo {
        width: 10%;
    }

    .timer {
        grid-area: timer;
    }

    .player {
        grid-area: player;
    }

    caption {
        width: 100%;
    }

    thead, tbody {
        width: 80%;
    }

    .clef {
        width: 20%;
    }

    .icon {
        width: 20%;
    }

    svg {
        stroke-width: 5%;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    * {
        /*font-size: 14px;*/
    }

    .logo {
        width: 30%;
    }

    .clef {
        width: 15%;
    }

    .icon {
        width: 15%;
    }

    svg {
        stroke-width: 3.75%;
    }
}

@media (min-device-width: 768px) {
    * {
        /*font-size: 18px;*/
    }

    .logo {
        width: 35%;
    }

    .clef {
        width: 20%;
    }

    .icon {
        width: 10%;
    }

    svg {
        stroke-width: 2.5%;
    }
}