/*
CSS Vendor Prefix
-webkit- Chrome, iOS, Safari
-moz- Firefox
-ms- Microsoft
-o- Opera
*/

.bordered {
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color);
}

.staved {
    background-image: -o-repeating-linear-gradient(
            bottom,
            var(--background-color) 0% 15.4%,
            var(--border-color) 15.4% 16.6%
    );
    background-image: repeating-linear-gradient(
            0deg,
            var(--background-color) 0% 15.4%,
            var(--border-color) 15.4% 16.6%
    );
}

.fixed {
    position: fixed;
    z-index: 1;
}

.centralized {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}



html {
    background-color: var(--background-color);

    color: var(--border-color);

    --border-width: 1px;

    text-align: center;
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 0;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  /* Firefox */
    display: none;
}



header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    top: 0;
    left: 0;

    width: 100%;
    height: 10vh;

    background-color: var(--background-color);
}

.heading {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}

.heading .icon {
    height: 50%;
}

.text {
    width: auto;
    margin-left: 0;
    text-align: start;
}

.player {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.player label {
    height: 100%;
}

.controls {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;

    position: relative;
}

.controls > :nth-child(1) {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

.controls > :nth-child(2) {
    position: absolute;
    height: 50%;
    top: 0;
}

.controls > :nth-child(3) {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.controls > :nth-child(4) {
    position: absolute;
    height: 50%;
    top: 50%;
}

.audio {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.audio label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.audio .progress {
    height: 100%;
    width: 0;
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--transparent-color);
}

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
}

.volume {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
}

.volume label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.volume label * {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 100%;
}

.volume label .icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    width: -moz-fit-content;
    width: fit-content;
}

.volume .progress {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--transparent-color);
}

.slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    height: 100%;
}

.bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    width: 100%;
}

.progress {
    width: 100%;
    background-color: var(--transparent-color);
}

input[type=range] {
    position: fixed;

    height: 100%;
    width: 100%;

    opacity: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 60px;
}

input[type=range]::-moz-range-track {
    height: 60px;
}

input[type=range]::-ms-track {
    height: 60px;
}

.volume input[type=range][orient=vertical] {
    -webkit-writing-mode: bt-lr;
    -ms-writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

.timer {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}



.side {
    width: 5%;
    top: 50%;
}

.left {
    left: 2.5%;
}

.right {
    right: 2.5%;
}

.left svg, .right svg {
    stroke-width: 3%;
}



table {
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 75%;
    border-collapse: collapse;
}

caption {
    margin-bottom: 3vh;
}

caption div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

caption div img {
    width: 10%;
}

tbody {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-overflow-scrolling: auto;
    overflow-x: scroll;
}

table label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

tr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    height: 6.72vh; /*(100vh - 12vh(bottom) - 12vh(top) - 2vh(gap)) / 11(head+rows) = 6.72*/
}

th, td {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100%;
}

th {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

tr > :not(:first-child) {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--border-color);
}

tr > :not(:last-child) {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--border-color);
}

td {
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-top-color: var(--border-color);
}

tr {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

tbody tr:last-child {
    border-bottom-width: calc(var(--border-width) * 2);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}


th {
    border-top-width: calc(var(--border-width) * 2);
    border-top-style: solid;
    border-top-color: var(--background-color);
}

tr > :first-child {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);
}

tr > :last-child {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

thead {
    border-left-width: var(--border-width);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

tbody {
    border-left-width: calc(var(--border-width) * 2);
    border-left-style: solid;
    border-left-color: var(--background-color);

    border-right-width: calc(var(--border-width) * 2);
    border-right-style: solid;
    border-right-color: var(--background-color);
}

.signature {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

input {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    color: var(--border-color);
}

input:focus {
    outline: none !important;
    border: none;

    -webkit-box-shadow: none;
    box-shadow: none;
}



footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 10vh;

    background-color: var(--background-color);
}

footer > * {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    min-width: 0;
}

.copyright {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about .icon {
    height: 75%;
}

.contacts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-evenly;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a {
    color: inherit;
    height: 50%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.spinner {
    height: 25%;

    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner circle {
    /*stroke-width reflects the width relative to the circle line out and in*/
    stroke-width: 2%;
    /*radius 50% - completely inscribed, to compensate for the stroke width: r = 50% - (stroke-width / 2)*/
    r: 49%;
}

.spinner circle:first-child {
    stroke-dasharray: 0.855, 306.945; /*1° - 0.855*/
    stroke-dashoffset: 76.95;

    -webkit-animation-name: rotation;
    animation-name: rotation;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.spinner :nth-child(2) {
    stroke-dasharray: 307.8, 0;
}

.spinner text {
    text-anchor: middle;
    dominant-baseline: middle;
    stroke-width: var(--border-width);
}

.icon {
    height: 100%;
}

svg {
    fill: var(--background-color);
    stroke: var(--border-color);
    height: 100%;
}

#dz-root {
    display: none;
}

@media (max-width: 480px) {
    header {
        display: -ms-grid;
        display: grid;

        grid-template-areas:
            "heading timer"
            "player player";

        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .heading {
        grid-area: heading;

        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .timer {
        grid-area: timer;

        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .player {
        grid-area: player;

        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 14px;
        /*background-color: red;*/
    }

    .heading .icon {
        height: 100%;
    }

    .contacts a {
        height: 25%;
    }

    .icon svg {
        stroke-width: 3%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    * {
        /*background-color: orange;*/
    }

    .icon svg {
        stroke-width: 2.5%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    * {
        /*background-color: yellow;*/
    }

    .icon svg {
        stroke-width: 3%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    * {
        /*background-color: green;*/
    }

    .side {
        width: 3%;
    }

    .left {
        left: 4%;
    }

    .right {
        right: 4%;
    }

    .icon svg {
        stroke-width: 3%;
    }
}

@media (min-width: 1200px) {
    * {
        /*background-color: blue;*/
    }

    .side {
        width: 3%;
    }

    .left {
        left: 4%;
    }

    .right {
        right: 4%;
    }

    .icon svg {
        stroke-width: 3%;
    }
}